<mat-card>
  <button mat-button (click)="Toggle_()">Hide/Show</button>
  <form *ngIf="isShow" #myForm="ngForm" (ngSubmit)="onFormSubmit(myForm)">
    <section class="example-section" *ngFor="let t_ of tr_">
      <span class="example-list-section">
        <mat-checkbox class="example-margin"
                      [checked]="t_.isChecked"
                      [name]="t_.attributeTitle"
                      [(ngModel)]="t_.isChecked"
                      (change)="setIsChecked(t_, $event.checked)">
          {{t_.attributeTitle}}
        </mat-checkbox>
      </span>
      <span class="example-list-section">
        <ul>
          <li *ngFor="let c_ of t_.condition;let k = index;">
        <mat-radio-group [(ngModel)]="c_.selectedTitle">
          <mat-radio-button [name]="c_.title" [(ngModel)]="c_.title"  [value]="c_.isCheck" (change)="setRadioActive(t_,k,$event.source.checked)">
            {{ c_.title }}
          </mat-radio-button>
        </mat-radio-group>
      </li></ul>
      </span>
      <span class="example-list-section">
        <ul>
          <li *ngFor="let s_ of t_.allowedValue; let j = index">
            <mat-checkbox [checked]="s_.isChecked_" [name]="s_.title" [(ngModel)]="s_.isChecked_" (change)="setIsSubCheck(s_, j, $event.checked)">
              {{ s_.title }}
            </mat-checkbox>
          </li>
        </ul>
      </span>
    </section>
    <button type="submit" [disabled]="!myForm.form.valid">Submit</button>
  </form>
  
  
</mat-card>